* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 15px #BBF2E8;
    border-radius: 5px;
    border-top: 2px solid #64e8d0;
}

.form__title {
    font-size: 25px;
    color: #17A67D;
    text-align: center;
    text-shadow: 4px 2px 10px #BBF2E8;
}

.form--group {
    margin: 30px 0;
}

label {
    width: 100%;
    position: relative;
}

label i {
    position: absolute;
    top: 3px;
    left: 5px;
    color: #17A67D;
}

.form--group input {
    width: 100%;
    height: 30px;
    border: none;
    padding-left: 25px;
    border-bottom: 2px solid #17A67D;
}

.form--group input:focus {
    outline: none;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-btn button,
.form-btn a {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    border: 2px solid #17A67D;
    transition: all .5s ease-in-out;
}

.form-btn button {
    color: #fff;
    background-color: #17A67D;
}

.form-btn a {
    color: #17A67D;
}

.form-btn button:hover {
    transform: scale(1.08);
}

.form-btn a:hover {
    color: #fff;
    background-color: #17A67D;
}

.error {
    margin: 10px 0;
    padding-left: 20px;
    text-align: left;
}

.error {
    font-size: 18px;
    color: #F22727;
}

@media screen and (max-width: 910px) {
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 630px) {
    .form {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .form {
        width: 90%;
    }
}